{% extends 'layout.html' %}

{% block title %}
  Login
{% endblock %}
{% block content %}
  <div class="container">
    <div class="text-center my-5"> <!-- Center content vertically -->
      <h1 style="font-weight: bold; font-size: 3rem; color: #007bff;" class="mb-4">Marketplace Login</h1> <!-- Apply bold, custom color, and size -->
    </div>
    <form method="POST" class="form-login">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", placeholder="User Name") }}
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          {{ form.password(class="form-control", placeholder="Password") }}

        </div>
      </div>
      <br>
      <div class="text-center">
        {{ form.submit(class="btn btn-primary btn-lg") }} <!-- Remove btn-block class -->

        <br>
        <br>
        <h5>New At MarketPlace? </h5>
        <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register Now</a>
      </div>

{% endblock %}
